<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">  <!-- for frontend routes-->
        <route frontName="ahmet" id="ahmet">    <!-- id will use for naming at routing frontend layout -->
            <module name="Ahmet_Blog"/>
        </route>
    </router>
</config>
